.success-callback-background {
  .container-for-callback {
    position: relative;
    .close {
      font-size: 40px;
      position: absolute;
      top: -40px;
      right: 10px;
    }
  }
  position: fixed;
  top:50%;
  left:50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); /** Chrome & Safari **/
  -o-transform: translate(-50%,-50%); /** Opera **/
  -moz-transform: translate(-50%,-50%); /** Firefox **/
  &.container-fluid{
    background-color: rgba(0,0,0,0.5) !important;
  }
  #success-callback{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%); /** Chrome & Safari **/
    -o-transform: translate(-50%,-50%); /** Opera **/
    -moz-transform: translate(-50%,-50%); /** Firefox **/
    background-color: #fff;
    text-align: center;
    width: 100%;
    @media(min-width: $screen-md-min){
      width: 50%;
    }
    a {
      &:hover {
        cursor: pointer;
      }
      color: Black;
    }
  }
}
