<div class="issue-login container" ng-show="displayLoginIssue">
  <h2>Please use the propper way to login!</h2>
</div>
<div class="loading-screen" ng-show="loadingScreen">
  <h2>Loading</h2>
</div>
<div id="user-logged-in" ng-hide="displayResult">
  <button id="log-out-button" ng-click=logOut()>log out</button>
  <h1>Welcome {{username}}</h1>
  <h6>List of all courses booked</h6>
  <div ng-bind-html="table" style="overflow-x:auto;"></div>
</div>
