  <div class="container-fluid" id="login">
    <div class="container">
      <div class="col-md-12">
        <img src="images/logo.png">
        <form name="loginForm" ng-submit="login()" novalidate>
            <div class="col-md-12">
              Name: <input type="text" required ng-model="username">
            </div>
            <div class="clear"></div>
            <div class="col-md-12">
              Password: <input type="password" required ng-model="password">
            </div>
            <div class="clear"></div>
            <input type="submit" class="submit" value="Login" />
          </div>
        </form>
      </div>
  </div>
