@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly
// Project variables
@import "../bower_components/slick-carousel/slick/slick.scss";
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
// Font Awesome
@import "fontawesome/scss/font-awesome";
@import "includes/callback";
@import "admin/login";
@import "admin/user-logged-in";

html,body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h2,h3 {
  margin: 0 15px;
}

.container,.container-fluid {
  padding: 4rem 0;
}

#submit {
  background-color: #563b3f;
  border: 0.5px solid #563b3f;
  border-radius: 5px;
  color: #ffffff;
  display: block;
  margin: 40px auto;
  @media (min-width: $screen-md-min) {
    margin-top: 40px;
    width: 100%;
  }
  padding: 10px;
  width: 90%;
}

.add-new-participant, .delete-participant {
  background-color: #563b3f;
  border: 0.5px solid #563b3f;
  border-radius: 5px;
  color: #ffffff;
  margin: 0 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  @media (min-width: $screen-md-min) {
    width: 130px;
  }
}

.clear {
  clear:both;
  margin: 30px 0;
  @media (min-width: $screen-md-min) {
    margin-top: 30px;
  }
}

label {
  margin: 1rem 0;
  text-transform: uppercase;
}

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background-color: #fff;
  background: transparent url('../images/arrow-down.png') no-repeat 95% center;
  background-size: contain !important;
  border-radius: 5px;
  border: 0.5px solid #b6c7aa;
  padding: 10px;
  text-indent: 15px;
  width: 100%;
}

a {
  color: #fff;
  &:hover {
    color: rgba(255,255,255,0.8);
  }
  &:focus {
    color: rgb(255,255,255);
  }
}


input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
  border: 0.5px solid #b6c7aa;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
