<form name="myForm" id="courseForm" ng-submit="submit()" novalidate >

  <div class="container">
    <h2>Course</h2>
    <div class="col-md-6">
      <label>Name*</label>
      <select class="course" required ng-model="selectedCourse" ng-change="updateCourse()" ng-options="course as course.name for course in form track by course.name"><option value="">Choose Course</option></select>
      <input type="hidden" ng-model="idForCourse" ng-value="0" />
    </div>
    <div class="col-md-6">
      <label>Date*</label>
      <select class="date" required name="date" ng-model="dateFromCourse" ng-change="updateTime()" ng-options="time for time in dateToCourse track by time"><option value="">Choose Date</option></select>
    </div>
  </div>
  <div class="container-fluid" style="background-color:#e3e3e3">
    <div class="container">
      <h2>Company</h2>
      <div class="col-md-12">
        <label>Name*</label>
        <input type="text" name="name" ng-model="cName" required>
      </div>
      <div class="col-md-4">
        <label>Phone*</label>
        <input type="number" name="phone" ng-model="cPhone" required>
      </div>
      <div class="col-md-8">
        <label>Email*</label>
        <input type="email" name="email" ng-model="cEmail" required>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color:#f7f5f3">
    <div class="container">
      <h2>Participant(s) <span>#{{x}}</span></h2>

      <div ng-repeat="p in participant">
        <div class="col-md-12">
          <label>Name*</label>
          <input type="text" name="pName" ng-model="p.name" required>
        </div>
        <div class="col-md-4">
          <label>Phone*</label>
          <input type="number" name="pPhone" ng-model="p.phone" required>
        </div>
        <div class="col-md-8">
          <label>Email*</label>
          <input type="email" name="pEmail" ng-model="p.email" required>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <a ng-href="#" class="add-new-participant" ng-click="addNewParticipant()" >Add a participant</a>
      <a ng-href="#" class="delete-participant" ng-click="removeParticipant()" ng-hide="hideButton">Remove participant</a>
    </div>
  </div>
  <div class="container">
    <input type="submit" id="submit" value="Submit application"/>
  </div>

  <div class="success-callback-background container-fluid" ng-hide="hide">
    <div id="success-callback" class="container">
      <div class="container-for-callback">
        <button type="button" class="close" aria-label="Close" ng-click="closeBox()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>{{cName}} booked the course: {{selectedCourse.name}}</h3>
        <h3>Accompanied in total of: {{x}} people</h3>
        <h4>Time/Date for the course is: {{dateFromCourse}}</h4>
      </div>
    </div>
  </div>
</form>
