#login {
  img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    height: auto;
    max-width: 150px;
    width: auto;
    @media(min-width: $screen-md-min) {
      max-width: 200px;
      width: auto;
    }
  }

  .submit {
    -webkit-appearance:none;
    -moz-appearance:none;
    background-color: #563b3f;
    border: 0.5px solid #563b3f;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 15px;
    padding: 10px;
    color: #fff;
  }
}
