.issue-login {
  text-align: center;
  text-transform: uppercase;
}

.loading-screen {
  /* The animation code */
  @keyframes loading {
    0% {opacity: 1}
    50% {opacity: 0.1}
    100% {opacity: 1}
  }

  /* The element to apply the animation to */
  h2 {
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 40px;
    left:50%;
    position: absolute;
    text-transform: uppercase;
    transform: translate(-50%,-50%);
    top:50%;
  }
}

#user-logged-in {

  @extend .container;
  #log-out-button {
    border: 1px solid #563b3f;
    background-color: #563b3f;
    box-shadow: inset 0 0 0 1px #563b3f;
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      background-image: linear-gradient(0deg, #ffffff, #ffffff);
      color: #000;
    }
  }
  text-align: center;
  h1,h6 {
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
  }
}

table {
  th {
    background-color: #4CAF50;
    color: white;
  }
  width: 100%;
  tr {
    &:nth-child(even) {
      background-color: #f2f2f2
    }
    background-color: rgba(0,0,0,0.1);
  }

  th, td {
    padding: 15px;
    text-align: left;
  }
}
